*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/containers";
@import "partials/typography";
@import "partials/buttons";
@import "partials/spacing";
@import "partials/menu";
@import "partials/main";
@import "partials/workspaces";

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;

    background-color: $primary-dark;
}

header {
    min-height: 100vh;
}

/* define a largura da barra de rolagem */
::-webkit-scrollbar {
    width: 3px;

    @include responsive(s){
        display: none;
    }
}

/* define a cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* define a cor da alça (o botão de arrastar) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}


svg, img{
    display: block;
    width: 100%;
}

.border{
    border: 1px solid red;
}
