@charset "UTF-8";
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.white {
  color: white;
}

.gray {
  color: #666566;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.container-dashboard {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 24px;
}
@media screen and (max-width: 960px) {
  .page-container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

h1 {
  color: #EEEDED;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #EEEDED;
  font-family: "Sora", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 100%;
  }
}

h3 {
  color: #EEEDED;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #EEEDED;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  color: #EEEDED;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p, th, td, input, label {
  color: #767576;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p, th, td, input, label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.btn {
  background: linear-gradient(220.94deg, #333236 14.43%, #27262C 85.28%);
  border-radius: 14px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #fefbff;
  padding: 12px 32px;
  box-shadow: 0px 17px 17px rgba(44, 38, 44, 0.08), 0px 5.125px 5.125px rgba(44, 38, 44, 0.08), 0px 2.12866px 2.12866px rgba(44, 38, 44, 0.08), 0px 0.769896px 0.769896px rgba(44, 38, 44, 0.08);
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.nav-bar {
  width: 10%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #27262C;
  color: white;
}
.nav-bar h4 {
  color: #0B8C56;
}
@media screen and (max-width: 1200px) {
  .nav-bar {
    display: none;
  }
}

.space-logo {
  height: 15%;
  padding: 24px;
}

.space-navigation {
  height: 65%;
}
.space-navigation ul {
  list-style: none;
}
.space-navigation ul li {
  padding: 16px;
}
.space-navigation ul li svg {
  width: 32px;
  height: 32px;
  fill: #585858;
}

#active-menu-left {
  fill: #0B8C56;
}

.logout-icon {
  height: 20%;
}
.logout-icon svg {
  width: 32px;
  height: 32px;
  fill: #585858;
}

.right-dashboard {
  width: 25%;
  height: 100%;
  background-color: #333236;
}
@media screen and (max-width: 1200px) {
  .right-dashboard {
    display: none;
  }
}

.container-head-right {
  width: 100%;
  height: 10%;
  align-items: flex-end;
}
.container-head-right .head-content-right {
  width: 100%;
  border-bottom: 2px solid #585858;
}
.container-head-right a {
  text-decoration: none;
  color: #585858;
  padding: 12px;
}
.container-head-right .active-menu {
  color: #EEEDED;
  border-bottom: 3px solid #EEEDED;
}

.profile-right-dashboard {
  width: 100%;
  height: 30%;
  display: flex;
  border-bottom: 1px solid #27262C;
}
.profile-right-dashboard .left-profile {
  width: 20%;
  height: 100%;
}
.profile-right-dashboard .svg_container {
  border: 1px solid #585858;
  width: 38px;
  height: 32px;
  border-radius: 8px;
}
.profile-right-dashboard .svg_container .svg_content path {
  fill: #EEEDED;
}
.profile-right-dashboard .center-profile {
  width: 60%;
  height: 100%;
}
.profile-right-dashboard .center-profile .img-profile-container {
  width: 100px;
  height: 100px;
  background-image: url("../img/profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid #0B8C56;
}
.profile-right-dashboard .center-profile a {
  text-decoration: none;
}
.profile-right-dashboard .right-profile {
  width: 20%;
  height: 100%;
}

.title-current-projects {
  width: 100%;
}

.card-right-container {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  padding: 24px;
}
.card-right-container .card-content {
  display: flex;
}
.card-right-container .card-back {
  width: 130px;
  height: 180px;
  background-color: #0B8C56;
  border-radius: 20px;
  position: relative;
}
.card-right-container .card-back span {
  position: absolute;
  font-size: 12px;
}
.card-right-container .card-back p {
  position: absolute;
  z-index: 1;
}
.card-right-container .card-front {
  width: 100%;
  height: 73%;
  border-radius: 20px;
  background-color: #11613F;
  position: absolute;
  bottom: 0;
}

.lastest-projects-container {
  width: 100%;
  height: auto;
  padding-right: 24px;
  padding-left: 24px;
}
.lastest-projects-container .img-last-project {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lastest-projects-container .last-projects-container {
  width: 90%;
  height: 50px;
  border-radius: 8px;
  background-color: #19181f;
  white-space: nowrap;
}
.lastest-projects-container .last-project-card {
  width: 100%;
  padding: 24px;
}
.lastest-projects-container .last-project-card .svg-last {
  width: 20px;
}

.main-dashboard-center {
  width: 65%;
  height: 100%;
  padding: 8px;
  background-color: #19181f;
  overflow-y: auto;
}
@media screen and (max-width: 1200px) {
  .main-dashboard-center {
    width: 100%;
    height: 100%;
  }
}

.header-main-dashboard {
  padding: 16px;
}

.chart-container {
  width: 95%;
  height: 300px;
  margin: 0 auto;
  padding: 8px;
  position: relative;
  background-color: #27262C;
  border-radius: 24px;
}

#myChart {
  position: absolute;
  width: 100%;
  height: 100%;
}

.chart-secundary-container {
  width: 95%;
  height: 250px;
  margin: 0 auto;
  padding: 8px;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .chart-secundary-container {
    flex-direction: column;
  }
}

.left-chart-secondary {
  width: 49%;
  height: 100%;
  background-color: #27262C;
  border-radius: 24px;
}
@media screen and (max-width: 1200px) {
  .left-chart-secondary {
    width: 100%;
  }
}

.chart-sec-container {
  width: 50%;
  height: 100%;
}

.right-sec-container {
  width: 50%;
  height: 100%;
}
.right-sec-container a {
  text-decoration: none;
}
.right-sec-container ul {
  list-style-type: disc;
  list-style: none;
}
.right-sec-container ul li {
  color: #0B8C56;
}
.right-sec-container ul li:before {
  content: "·";
  font-size: 100px;
  vertical-align: middle;
  line-height: 20px;
}
.right-sec-container ul .percent {
  margin-left: 38px;
}
@media screen and (max-width: 1200px) {
  .right-sec-container {
    width: 50%;
    height: 100%;
  }
}

.right-chart-secondary {
  width: 49%;
  height: 100%;
  padding: 8px;
  background-color: #27262C;
  border-radius: 24px;
}
@media screen and (max-width: 1200px) {
  .right-chart-secondary {
    margin-top: 20px;
    width: 100%;
    min-height: 200px;
  }
}

.myChartRight {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #19181f;
}

header {
  min-height: 100vh;
}

/* define a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 3px;
}
@media screen and (max-width: 960px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* define a cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* define a cor da alça (o botão de arrastar) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}/*# sourceMappingURL=style.css.map */