// Brand Colors

$primary-normal: #27262C;
$primary-light: #333236;
$primary-dark: #19181f;
$secondary-normal: #585858;

$icons: #585858;

$primary-main: #0B8C56;
$secondary-main: #DE6830;

$hover: rgba(255, 255, 255, .05);

// Employees Colors

$example1: #BF1E2E;
$example2: #79232F;
$example3: #009390;
$example4: #D60B52;
$example5: #F2672B;
$example6: #026DAB;

// Neutral-colors
$black-normal: #232224;
$black-dark: #19181f;
$black-light: #353436;

$white-normal: #EEEDED;
$white-dark: #edeaef;
$white-light: #fefbff;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;

.white{
    color: white;
}

.gray{
    color: $gray-3;
}